
@media (max-width: 480px) {


    header {
        grid-template-columns: 40px 1fr 40px;
        padding: 0 15px;
        height: 80px;
    }


    .menu-btn {
        display: block;
        cursor: pointer;
        width: 30px;
    }

    .menu-btn span {
        height: 3px;
        margin: 5px 0;
        background-color: #FB7E2C;
        border-radius: 3px;
        transition: 0.3s ease;
    }


    .logo {
        justify-self: center;
        margin-left: 0;
    }

    .logo img {
        width: 90px;
    }

    nav ul {
        display: none !important;
    }


    .btn-pedido {
        display: none;
    }



    .mobile-nav {
        display: block;
        max-height: 0;
        overflow: hidden;
        opacity: 0;
        background: #F3F0E9;
        transition: max-height 0.4s ease, opacity 0.3s ease;
    }

    .mobile-nav.open {
        max-height: 350px;
        opacity: 1;
    }

    .mobile-nav ul {
        padding: 20px 0;
        gap: 18px;
    }


    #home img {
        margin-bottom: 50px;
    }


    .categorias h2 {
        font-size: 28px;
        margin-bottom: 30px;
    }

    .categorias-grid {
        width: 95%;
        gap: 20px;
    }

    .grande {
        height: 320px;
    }

    .pequeno {
        height: 160px;
    }

    
    .overlay p {
        font-size: 14px;
    }

    .overlay h3 {
        font-size: 26px;
    }

    .produtos-grid {
        grid-template-columns: 1fr;
        width: 90%;
        gap: 20px;
    }

    .cardapio-menu button {
        font-size: 14px; 
    }

    /* LOCALIZAÇÃO */
    .localizacao h2 {
        font-size: 30px;
        margin-bottom: 50px;
    }

    .localizacao-content {
        width: 100%;
        flex-direction: column;
        gap: 20px;
    }

    .localizacao-mapa img {
        width: 90%;
        border-radius: 10px;
    }

    .localizacao-info {
        padding: 0 20px;
    }

    .footer-logo {
        width: 180px;
    }

    .footer-links {
        flex-direction: column;
        gap: 25px;
        margin-left: 0;
    }

    .footer-col a {
        font-size: 14px;
    }

    .footer-bottom {
        font-size: 12px;
    }

    .overlay {
        justify-content: center !important;
        align-items: center;
        text-align: center;
        padding: 10px;
    }

    .overlay p {
        font-size: 16px;
    }

    .overlay h3 {
        font-size: 28px;
    }

    .menu-btn {
        display: block;
        cursor: pointer;
        width: 30px;
        position: relative;
        z-index: 9999;
    }

    nav ul {
        display: none !important;
    }

    .btn-pedido {
        display: none;
    }

    .mobile-nav {
        display: block;
        max-height: 0;
        overflow: hidden;
        opacity: 0;
        background: #F3F0E9;
        transition: max-height 0.4s ease, opacity 0.3s ease;
    }

    .mobile-nav.open {
        max-height: 350px;
        opacity: 1;
    }

}
