header {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    background-color: #F3F0E9;
    height: 125px;
    padding: 0 40px;
}

#home {
  position: relative;
  overflow: hidden;
}

#hero {
  width: 100%;
  height: auto;
  display: block;
  transition: opacity 0.6s ease; /* tempo do fade */
  opacity: 1;
  -webkit-user-drag: none; /* opcional: evita arrastar a imagem no mobile */
}

.menu-btn {
    display: none;
}

.logo {
    justify-self: start;
    margin-left: 236px;
    cursor: pointer;
}

nav ul {
    display: flex;
    gap: 30px; /* aproxime os itens como quiser */
    list-style: none;
}

nav ul a {
    text-decoration: none;
    color: #000;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: bold;
}

header > a {
    justify-self: end;
}

.btn-pedido {
    background-color: #FB7E2C;
    padding: 16px 22px;
    text-decoration: none;
    color: #fff;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin-right: 236px;
}



#home img {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 100px;
    cursor: pointer;
}

.categorias {
    text-align: center;
    font-family: 'Inter', sans-serif;
}


.categorias h2 {
    font-size: 42px;
    font-weight: 700;
    color: #D25707; 
    margin-bottom: 100px;
}

/* GRID PRINCIPAL */
.categorias-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 100px;
}

/* COLUNA DA DIREITA */
.lado-direito {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

/* CARD BASE */
.card {
    position: relative;
    border-radius: 15px;
    overflow: hidden;
    cursor: pointer;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* CARD TAMANHOS */
.grande {
    height: 630px;
}

.pequeno {
    height: 300px;
}

/* OVERLAY ESCURO */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.70);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.overlay p {
    color: #ffffff;
    font-size: 20px;
    margin-bottom: 5px;
    font-weight: 400;
}

.overlay h3 {
    color: #ffffff;
    font-size: 42px;
    font-weight: 700;
    line-height: 1.1;
}

/* SEÇÃO CARDÁPIO */
.cardapio {
    background-color: #C75A0B; /* laranja queimado */
    padding: 60px 0;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 80px;
}

.cardapio h2 {
    font-size: 40px;
    font-weight: 700;
    color: #FFFFFF;
    margin-bottom: 25px;
}

/* MENU DE CATEGORIAS */
.cardapio-menu {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-bottom: 40px;
}

.cardapio-menu button {
    background: none;
    border: none;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    padding-bottom: 5px;
}

.cardapio-menu button.ativo {
    border-bottom: 3px solid #fff;
}

/* GRID DOS PRODUTOS */
.produtos-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    width: 85%;
    margin: 0 auto;
}

/* CARD DO PRODUTO */
.produto-card {
    background: white;
    border-radius: 12px;
    overflow: hidden;
    width: 100%;
    transition: transform .3s;
}

.produto-card img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.produto-card:hover {
    transform: translateY(-5px);
}

.produto-info {
    padding: 15px;
    text-align: left;
}

.produto-info h3 {
    font-size: 18px;
    font-weight: 800;
    margin-bottom: 5px;
}

.produto-info p {
    font-size: 14px;
    color: #444;
}

/* SEÇÃO LOCALIZAÇÃO */
.localizacao {
    padding: 60px 0;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.localizacao h2 {
    font-size: 36px;
    font-weight: 700;
    color: #C75A0B;
    margin-bottom: 80px;
}

/* CONTAINER DO MAPA + TEXTO */
.localizacao-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 80px;
}

/* MAPA */
.localizacao-mapa img {
    width: 430px;
    height: auto;
    border-radius: 8px;
}

/* TEXTO */
.localizacao-info {
    text-align: left;
    max-width: 380px;
}

.localizacao-info h3 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
}

.localizacao-info p {
    font-size: 15px;
    color: #444;
    margin-bottom: 18px;
}

.localizacao-info h4 {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 8px;
}

.footer {
    background: #0f0f0f;
    color: #ffffff;
    padding: 40px 30px 20px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

/* LOGO E DESCRIÇÃO */
.footer-logo {
    width: 240px;
    height: auto;
    margin-bottom: 10px;
    cursor: pointer;
}

.footer-desc {
    margin: 10px auto 20px;
    font-size: 16px;
    line-height: 1.4;
    max-width: 400px;
}

/* ÍCONES */
.footer-icons a {
    color: #ff7a00;
    font-size: 28px;
    margin: 0 8px;
}


/* COLUNAS */
.footer-links {
    display: flex;
    justify-content: center;   /* centraliza as 3 colunas */
    gap: 120px;                /* distância entre elas */
    text-align: center;
    margin-top: 60px;
    margin-left: 40px;
}

.footer-column {
    min-width: 200px;
}

.footer-col h3 {
    color: #ff7a00;
    margin-bottom: 12px;
    font-size: 18px;
}

.footer-col a {
    display: block;
    color: #ffffff;
    font-size: 15px;
    margin-bottom: 15px;
    text-decoration: none;
    transition: 0.3s;
}

.footer-col a:hover {
    color: #ff7a00;
}

/* RODAPÉ FINAL */
.footer-bottom {
    margin-top: 40px;
    padding-top: 20px;
    font-size: 14px;
    border-top: 1px solid #2a2a2a;
}

/* MENU MOBILE (escondido por padrão) */
.mobile-nav {
    display: none;
}

.mobile-nav ul {
    list-style: none;
    background: #F3F0E9;
    width: 100%;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}

.mobile-nav a {
    color: #000;
    text-decoration: none;
    font-size: 18px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
}



