/* =====================================
   TABLET - até 834px
   ===================================== */
@media (max-width: 834px) {

    /* HEADER */
    header {
        grid-template-columns: 60px 1fr 120px;
        padding: 0 20px;
        height: 100px;
    }

    /* LOGO CENTRALIZADA */
    .logo {
        justify-self: center;
        margin-left: 55px;
    }

    .logo img {
        width: 120px;
        height: auto;
    }

    /* MENU DESKTOP some */
    nav ul {
        display: none;
    }

    /* BOTÃO HAMBÚRGUER */
    .menu-btn {
        display: block;
        width: 40px;
        cursor: pointer;
        margin-left: 20px;
    }

    .menu-btn span {
        display: block;
        height: 4px;
        margin: 6px 0;
        background-color: #FB7E2C;
        border-radius: 3px;
        transition: 0.3s;
    }

    /* BOTÃO PEDIDO */
    .btn-pedido {
        display: none;
    }

    /* MOSTRAR MENU MOBILE QUANDO ABERTO */
    .mobile-nav {
        display: none;
        transition: max-height 0.4s ease, opacity 0.3s ease;
    }

    .mobile-nav.open {
        display: block;
        max-height: 300px; /* coloque um valor grande o suficiente */
        opacity: 1;
    }
        
    /* GRID DAS CATEGORIAS — vira 1 coluna */
    .categorias-grid {
        grid-template-columns: 1fr;
        width: 90%;
    }

    .grande {
        height: 400px;
    }

    .pequeno {
        height: 220px;
    }

    .categorias h2 {
        font-size: 32px;
        margin-bottom: 40px;
    }

    /* CARDÁPIO → 2 colunas */
    .produtos-grid {
        grid-template-columns: repeat(2, 1fr);
        width: 90%;
    }

    /* LOCALIZAÇÃO — vira coluna */
    .localizacao-content {
        flex-direction: column;
        gap: 30px;
        width: 90%;
    }

    .localizacao-mapa img {
        width: 100%;
        max-width: 500px;
    }

    /* FOOTER – colunas mais compactas */
    .footer-links {
        flex-direction: column;
        gap: 40px;
        margin-left: 0;
    }
}